<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Table Contents</title>
  </head>
  <body>
    <form action="/search_by_diarrhea_no" method="post">
        <input type="text" name="diarrhea_no" placeholder="Enter Diarrhea No">
        <input type="submit" value="Search">
    </form>

    {% if data %}
      <h2>Search Results for Diarrhea No: {{ diarrhea_no }}</h2>
      <table border="1">
        <tr>
          <th>Diarrhea_no</th>
          <th>Diarrhea_type</th>
          <th>Du_Prohibit_Office</th>
          <th>Year</th>
          <th>Buyer</th>
          <th>Seller</th>
          <th>Other_information</th>
          <th>List2_links</th>
                  
        </tr>
        {% for row in data %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[5] }}</td>
          <td>{{ row[6] }}</td>
          <td>{{ row[7] }}</td>
          <!-- Add more columns if needed -->
        </tr>
        {% endfor %}
      </table>
    {% endif %}
  </body>
</html>
